.container {
    padding: 100px 50px;
    font-size: 40px;
}

.container__item {

}

.station {

}

.color-line {

}

.color-line__title {
    display: inline-block;
}

.color-line__color {
    display: inline-block;
}

.color-line__color > div {
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 50%;
}