doctype html
html
    head
        title= 'Информация о ближайшей станции'
        style
            include ./metro.css
    body
        div.container
            div.container__item.station
                span Название станции:&nbsp;
                b #{model.name}
            div.container__item
                span Название ветки:&nbsp;
                b #{model.nameLine}
            div.container__item.color-line
                div.color-line__title
                    span Цвет ветки:&nbsp;
                div.color-line__color
                    div.inline-color(style={background: '#' + model.colorLine})
            div.container__item
                span Город:&nbsp;
                b #{model.nameCity}
